.spinner {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 200px;
  height: 200px;
  animation: a0 infinite 12s linear;
  // animation-name: a0;
  // animation-duration: 2s;
  // animation-iteration-count: infinite;
  // animation-timing-function: linear;

  span {
    position: absolute;
    display: block;
    height: 150px;
    width: 150px;
    text-transform: uppercase;
    animation: a1 infinite 1s linear;
  }

  p {
    color: red;
  }
}

@keyframes a0 {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
