.popular-product-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  .popular-product-nav {
    margin: 20px 0;
    width: 93%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    // flex-direction: column;

    .product-nav {
      padding: 5px;
      border: 1px solid black;
      border-radius: 20px;
      ul {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        li {
          padding: 5px 20px;
          border-radius: 20px;
          text-transform: capitalize;
          list-style-type: none;
          cursor: pointer;

          &:not(:last-child) {
            margin-right: 5px;
          }

          &:first-child {
            text-transform: uppercase;
          }
        }
        .active {
          color: #fff;
          background-color: black;
        }
      }
    }
  }
}

@keyframes shrink {
  from {
    height: 375px;
  }
  to {
    height: 355px;
  }
}

@keyframes quick-view {
  from {
    bottom: 40px;
  }
  to {
    bottom: 55px;
  }
}

.popular-product-container {
  width: 100%;
  display: flex;
  justify-content: center;

  .popular-product-container-ul {
    width: 95%;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;

    .popular-product-container-li {
      &:hover {
        .view {
          display: block !important;
          animation: quick-view 0.3s forwards;
        }
        .popular-product-image {
          img {
            animation: shrink 0.7s forwards;
            // animation-name: shrink;
            // animation-duration: 0.3s;
            // animation-fill-mode: forwards;
          }
        }
      }
      max-width: calc(280px);
      list-style-type: none;

      .popular-product {
        position: relative;

        .popular-product-image {
          width: 100%;
          img {
            width: 280px;
            height: 375px;
            border-radius: 20px;
          }
        }
        .popular-product-features {
          width: 100%;
          z-index: 1s;

          .features-text {
            position: absolute;
            top: 20px;
            left: 20px;
            width: 40%;
            text-align: center;
            font-size: 12px;
            font-weight: 900;
            text-transform: uppercase;
            padding: 5px;
            border-radius: 20px;
            background-color: #fff;
          }

          .features-icons {
            position: absolute;
            top: 20px;
            right: 20px;
            display: flex;
            flex-direction: column;
            align-items: center;

            img {
              width: 40px;
              background: rgba(0, 0, 0, 0.3);
              border-radius: 50%;
              padding: 10px;
              margin-bottom: 5px;
              cursor: pointer;
            }
          }
        }
        .view {
          display: none;
          position: absolute;
          bottom: 55px;
          left: 70px;
          width: 50%;
          text-align: center;
          padding: 10px;
          border-radius: 20px;
          border: 3px solid #fff;
          background-color: black;
          cursor: pointer;

          span {
            text-transform: uppercase;
            color: #fff;
            font-size: 14px;
            font-weight: 600;
          }
        }

        .popular-product-name {
          display: flex;
          justify-content: space-between;
          text-transform: capitalize;
          margin-top: 20px;
          line-height: 25px;
          h3 {
            &:not(:last-child) {
              width: 70%;
            }
          }
        }
      }
    }
  }
}

@media (max-width: 760px) {
  .popular-product-section {
    .popular-product-nav {
      width: 90%;
      flex-direction: column;
      align-items: unset;
    }
  }
}
